.card-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card-list .card-placement {
    display: flex;
    align-items: center;
}

.card-list .card-placement .card-component {
    width: 450px;
    height: 270px;
}

.card-list .card-placement .card-component .card-sub-component {
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border-radius: 16px;
}

.card-component:hover .card-sub-component {
    transform: rotateY(180deg);
}

.card-component .card-sub-component .component-front,
.card-component .card-sub-component .component-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-component .card-sub-component .component-front {
    display: flex;
}

.card-component .card-sub-component .component-back {
    transform: rotateY(180deg);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
}

.card-list .card-placement .card-component .card-section {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    .card-list .card-placement .card-component {
        width: 80vw;
        height: 350px;
    }

    .card-component .card-sub-component .component-back {
        font-weight: 600;
    }
}