.bg-jumbotron {
    animation: BGScaleUp 180s infinite;
}

@keyframes BGScaleUp {
    0% {
        background-size: 100%;
    }
    90% {
        background-size: 150%;
    }
    100% {
        background-size: 100%;
    }
}