.sidebar {
    color: #003832;
    width: clamp(20%, 30%, 40%);
    min-width: 20vw;
    min-height: 100vh;
    padding: 4rem 2rem;
    background-color: #F4F3F3;
    text-decoration: none;
}

.sidebar a {
    color: #003832;
}

.sidebar .sidebar-content {
    margin-bottom: 95vh;
}

.sidebar .sidebar-brand h1 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.4rem;
}

.sidebar .language {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.sidebar .language button {
    border: 1px solid #003832;
    padding: 0 .25rem;
}

.sidebar .language button:hover {
    background: #d1d1d1;
    color: #003832;
    text-decoration: underline;
    transition: 0.15s ease;
}

.sidebar .sidebar-title {
    letter-spacing: 3px;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
}

.sidebar .sidebar-title a {
    padding: .5rem .25rem;
    margin: .25rem 0;
    font-size: max(1vw, 13px);
}

.sidebar .sidebar-title a:hover {
    transition: .15s ease;
    background: #d1d1d1;
    border-radius: 4px;
}

.sidebar .sidebar-socialmedia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.sidebar .sidebar-socialmedia a {
    width: 20px;
    height: 20px;
    border: 1px solid #003832;
    text-align: center;
}

.sidebar .sidebar-socialmedia a:hover {
    transition: 0.15s ease;
    background: #d1d1d1;
}

.sidebar .sidebar-social {
    position: -ms-page;
    position: sticky;
    bottom: 20px;
}

/***************************** MOBILE  *****************************/

.mobile-navbar-container {
    position: relative;
    background-color: transparent;
    color: #003832;
    padding: 1rem;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-brand h1 {
    margin: 0;
    font-size: 28px; 
    transition: transform 0.3s ease;
}

.mobile-menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: -8px; 
}

.mobile-menu-toggle div {
    width: 30px;
    height: 2px; 
    background-color: #003832;
    margin: 4px 0; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-menu {
    backdrop-filter: blur(1px); 
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, opacity 0.3s ease;
}

.mobile-menu button {
    border: 1px solid #ffffff;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.mobile-menu button:hover {
    background: #f0f0f0;
    color: #003832;
}

.mobile-sidebar-title a {
    padding: 0.25rem;
    margin: 0.75rem 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: text-decoration 0.3s ease;
}

.mobile-sidebar-socialmedia a {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    text-align: center;
    display: inline-block;
    margin-right: 0.5rem;
    color: #ffffff;
    text-decoration: none;
    line-height: 20px;
    border-radius: 50%;
    transition: background 0.3s ease, color 0.3s ease;
}

.mobile-sidebar-socialmedia a:hover {
    background: #f0f0f0;
    color: #003832;
}

.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Ubah warna overlay sesuai kebutuhan */
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    /* transition: all 0.3s ease; */
    transition: opacity 0.3s ease;
}


.mobile-menu-content {
    display: flex;
    flex-direction: column; /* Menjadikan tata letak menjadi kolom */
    gap: 20px;
    text-align: center;
}
.mobile-menu-content a {
    transition: color 0.3s ease;
}

.mobile-menu.active {
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.mobile-menu-toggle.active ~ .mobile-menu-overlay {
    opacity: 1;
    pointer-events: auto;
}


.mobile-menu-toggle.active div:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.mobile-menu-toggle.active div:nth-child(2) {
    opacity: 0;
}

.mobile-menu-toggle.active div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}