@font-face {
    font-family: 'SimHei';
    src: url('/assets/homepage/fonts/SimHei.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dnp-shuei-mincho-pr6n';
    src: url('/assets/homepage/fonts/DNPShueiMinPr6 M.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dnp-shuei-mincho-pr6n';
    src: url('/assets/homepage/fonts/DNPShueiMinPr6 B.ttf') format('truetype');
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: 'dnp-shuei-mincho-pr6n';
    src: url('/assets/homepage/fonts/DNPShueiMinPr6 L.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'kozuka-mincho-pro';
    src: url('/assets/homepage/fonts/Kozuka Mincho Pro M.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a-otfud-shin-go-pr6n';
    src: url('/assets/homepage/fonts/A-OTF UD Shin Go Pr6N L.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a-otf-ud新ゴpr6n-l';
    src: url('/assets/homepage/fonts/A-OTF UD新ゴ Pr6N L.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.imageSlide {
    position: absolute;
    animation: slowMoveImage 8s ease-in-out alternate;
    /* transform: scale(3.2); */
    transition: 1s;
    object-fit: cover;
}

.imageInvisible {
    transition: 0s;
    transform: translate(200%);
    opacity: 0;
    display: none;
}

.imageHide {
    animation: showHide 1s forwards;
}

.imageShow {
    animation: showImage 1s forwards ;
}

@media (max-width: 768px) {
    .imageSlide {
        position: absolute;
        animation: slowMoveImageMobile 8s ease-in-out alternate;
        /* transform: scale(3.2); */
        transition: 1s;
        object-fit: cover;
    }
}

@keyframes showImage {
    0% {
        translate: 200%;
        opacity: 0;
    }
    100% {
        translate: 0%;
        opacity: 1;
    }
}

@keyframes hideImage {
    0% {
        translate: -200%;
        opacity: 1;
    }
    100% {
        translate: 0%;
        opacity: 0;
    }
}

@keyframes slowMoveImage {
    0% {
        transform: scale(3.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slowMoveImageMobile {
    0% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1);
    }
}