@font-face {
    font-family: 'SimHei';
    src: url('assets/homepage/fonts/SimHei.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dnp-shuei-mincho-pr6n';
    src: url('assets/homepage/fonts/DNPShueiMinPr6 M.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dnp-shuei-mincho-pr6n';
    src: url('assets/homepage/fonts/DNPShueiMinPr6 B.ttf') format('truetype');
    font-weight: Bold;
    font-style: normal;
}

@font-face {
    font-family: 'dnp-shuei-mincho-pr6n';
    src: url('assets/homepage/fonts/DNPShueiMinPr6 L.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'kozuka-mincho-pro';
    src: url('assets/homepage/fonts/Kozuka Mincho Pro M.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a-otfud-shin-go-pr6n';
    src: url('assets/homepage/fonts/A-OTF UD Shin Go Pr6N L.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.imageSlide {
    position: absolute;
    animation: slowMoveImage 100s ease-in-out infinite alternate;
    /* transform: scale(3.2); */
    transition: 1s;
    object-fit: cover;
}

@media (max-width: 768px) {
    .imageSlide {
        position: absolute;
        animation: slowMoveImageMobile 100s ease-in-out infinite alternate;
        /* transform: scale(3.2); */
        transition: 1s;
        object-fit: cover;
    }
}

@keyframes slowMoveImage {
    0% {
        transform: scale(3.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slowMoveImageMobile {
    0% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1);
    }
}